# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Netbeans GCC compilation folders
debug/
dist/
build/

# biicode metadata and cmake output
cmake/
bin/
bii/
deps/
build/

# biicode clion layout
.idea/
CMakeLists.txt
bii_*.cmake
biicode.cmake

