# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Netbeans GCC compilation folders
debug/
dist/
build/

# Biicode metadata and cmake output
cmake/
bin/
bii/
deps/
build/
